/dts-v1/;
#include <nordic/nrf5340_cpuapp_qkaa.dtsi>
#include "volora_nrf5340_cpuapp-pinctrl.dtsi"
#include <zephyr/dt-bindings/lora/sx126x.h>

/ {
	model = "VoLoRa";
	compatible = "custom,volora";

	chosen {
		zephyr,sram = &sram0_image;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &cdc_acm_uart0;
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button 1";
		};
		button1: button_1 {
			gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button 2";
		};
		button2: button_2 {
			gpios = <&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button 3";
		};
		button3: button_3 {
			gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button 4";
		};
		button4: button_4 {
			gpios = <&gpio1 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button 5";
		};
	};

	/* MAX98357A SD_MODE enable pin */
	amp_sd_mode: amp-sd-mode {
		compatible = "gpio-leds";
		amp_en: amp_en {
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			label = "AMP SD_MODE";
		};
	};
};

/* No LFXO on this board */
&lfxo {
	status = "disabled";
};

/* HFXO: 8 pF with internal load capacitors */
&hfxo {
	load-capacitors = "internal";
	load-capacitance-femtofarad = <8000>;
};

/* No QSPI flash on this board */
&qspi {
	status = "disabled";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

/* I2C1: nPM1300 PMIC */
&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	npm1300: pmic@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;
		host-int-gpios = <&gpio0 16 0>;
		pmic-int-pin = <1>;

		npm1300_regulators: regulators {
			compatible = "nordic,npm1300-regulator";

			npm1300_buck1: BUCK1 {
			};

			npm1300_buck2: BUCK2 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-init-microvolt = <3300000>;
				regulator-boot-on;
			};
		};

		npm1300_charger: charger {
			compatible = "nordic,npm1300-charger";
			term-microvolt = <4200000>;
			term-warm-microvolt = <4000000>;
			current-microamp = <800000>;
			dischg-limit-microamp = <1000000>;
			vbus-limit-microamp = <1200000>;
			thermistor-ohms = <10000>;
			thermistor-beta = <3435>;
			charging-enable;
		};

		npm1300_leds: leds {
			compatible = "nordic,npm1300-led";
			nordic,led0-mode = "charging";
			nordic,led1-mode = "host";
			nordic,led2-mode = "error";
		};
	};
};

/* SPI4: Wio-SX1262 LoRa module */
&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;

	lora: sx1262@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		spi-max-frequency = <16000000>;
		reset-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		dio1-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
		dio2-tx-enable;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
		tcxo-power-startup-delay-ms = <5>;
	};
};

/* PDM microphone (MSM261DGT003) */
dmic_dev: &pdm0 {
	status = "okay";
	pinctrl-0 = <&pdm0_default>;
	pinctrl-1 = <&pdm0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-source = "PCLK32M_HFXO";
};

/* I2S output to MAX98357A speaker amp */
&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-1 = <&i2s0_sleep>;
	pinctrl-names = "default", "sleep";
};

/* USB */
zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

/* Flash partitions */
#include <nordic/nrf5340_cpuapp_partition.dtsi>
