/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };

    leds {
        compatible = "gpio-leds";

        led0: led_0 {
            gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;  /* RED   - P1.06 */
            label = "LED Red";
        };
        led1: led_1 {
            gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>; /* GREEN - P0.21 */
            label = "LED Green";
        };
        led2: led_2 {
            gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;  /* BLUE  - P1.08 */
            label = "LED Blue";
        };
    };

    aliases {
        led0 = &led0;
        led1 = &led1;
        led2 = &led2;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&lfxo {
    load-capacitors = "external";
};

&hfxo {
    load-capacitors = "external";
};

&vregh {
    status = "okay";
};

&vregmain { regulator-initial-mode = <NRF5X_REG_MODE_LDO>; };
&vregradio { regulator-initial-mode = <NRF5X_REG_MODE_LDO>; };
